<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smart.dao.IArticleTypeMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="cn.smart.entity.ArticleTypeDO">
        insert into article_type
        (
       	    `id`, `code`, `code_text`, `image_url`, 
       	    `create_time`, `update_time`
        )
        values
        (
       	    #{id,jdbcType=BIGINT}, #{code,jdbcType=INTEGER}, #{codeText,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
       	    #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" parameterType="Long" resultType="cn.smart.entity.ArticleTypeDO">
        select
                `id`, `code`, `code_text`, `image_url`, 
                `create_time`, `update_time`
        from article_type
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryList" resultType="cn.smart.entity.ArticleTypeDO"
        parameterType="cn.smart.condition.ArticleTypeQueryCondition">
        select
       	    `id`, `code`, `code_text`, `image_url`, 
       	    `create_time`, `update_time`
        from article_type
        <where>
            <if test="id != null">
                and `id` = #{id,jdbcType=BIGINT}
            </if>
            <if test="code != null">
                and `code` = #{code,jdbcType=INTEGER}
            </if>
            <if test="codeText != null and codeText != '' ">
                and `code_text` = #{codeText,jdbcType=VARCHAR}
            </if>
            <if test="imageUrl != null and imageUrl != '' ">
                and `image_url` = #{imageUrl,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        <choose>
            <when test="orderField != null and orderField.trim() != ''">
                order by ${orderField} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and offset >= 0 and limit != null and limit gt 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int"
        parameterType="cn.smart.condition.ArticleTypeQueryCondition">
        select count(1) as total from article_type
        <where>
            <if test="id != null">
                and `id` = #{id,jdbcType=BIGINT}
            </if>
            <if test="code != null">
                and `code` = #{code,jdbcType=INTEGER}
            </if>
            <if test="codeText != null and codeText != '' ">
                and `code_text` = #{codeText,jdbcType=VARCHAR}
            </if>
            <if test="imageUrl != null and imageUrl != '' ">
                and `image_url` = #{imageUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="total" resultType="int">
        select count(1) as total from article_type
    </select>

    <update id="update" parameterType="cn.smart.entity.ArticleTypeDO">
        update article_type
        <set>
            <if test="code != null">
                `code` = #{code,jdbcType=INTEGER},
            </if>
            <if test="codeText != null">
                `code_text` = #{codeText,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                `image_url` = #{imageUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        delete from article_type
        <where>
            <if test="id != null">
                and `id` = #{id,jdbcType=BIGINT}
            </if>
            <if test="code != null">
                and `code` = #{code,jdbcType=INTEGER}
            </if>
            <if test="codeText != null and codeText != '' ">
                and `code_text` = #{codeText,jdbcType=VARCHAR}
            </if>
            <if test="imageUrl != null and imageUrl != '' ">
                and `image_url` = #{imageUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <delete id="deleteBatch">
        delete from article_type where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
        #{ids}
        </foreach>
    </delete>


    <delete id="deleteById" parameterType="Long">
        delete from article_type where id = #{id,jdbcType=BIGINT}
    </delete>
</mapper>