<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smart.dao.ICourseInfoMapper">

    <update id="updateCourseGroup" parameterType="cn.smart.bo.ClassInfoBO">
        UPDATE course_info SET group_id = #{groupId, jdbcType=BIGINT}
        WHERE id IN
        <foreach collection="courseIds" item="id" open="(" separator="," close=")">
            ${id}
        </foreach>
    </update>

    <update id="updateCourseGroupNull" parameterType="cn.smart.bo.ClassInfoBO">
        UPDATE course_info SET group_id = NULL
        WHERE id IN
        <foreach collection="courseIds" item="id" open="(" separator="," close=")">
            ${id}
        </foreach>
    </update>

    <select id="queryCourseGame" parameterType="cn.smart.condition.GameInfoQueryCondition"
            resultType="cn.smart.bo.CourseGameBO">
        SELECT  gi.id gameId, gi.name, gi.info, gi.image_url,
            gi.resource_url, gi.status, gi.type, gi.serial_number,
            cg.id course_game_id, cg.course_info_id course_id
        FROM course_game cg
        LEFT JOIN game_info gi ON gi.id = cg.game_info_id
        <where>
            <if test="courseId != null">
                and cg.course_info_id = #{courseId,jdbcType=BIGINT}
            </if>
            <if test="inCourseIds != null">
                AND cg.course_info_id in
                <foreach item="ids" collection="inCourseIds" open="(" separator="," close=")">
                    #{ids}
                </foreach>
            </if>
            <if test="name != null and name != '' ">
                and gi.name like CONCAT('%','${name}','%')
            </if>
            <if test="info != null and info != '' ">
                and gi.info like CONCAT('%','${info}','%')
            </if>

            <if test="status != null">
                and gi.status = #{status,jdbcType=INTEGER}
            </if>
            <if test="type != null">
                and gi.type = #{type,jdbcType=INTEGER}
            </if>
            <if test="serialNumber != null">
                and gi.serial_number = #{serialNumber,jdbcType=INTEGER}
            </if>
            <if test="courseIds != null">
                and cg.course_info_id in
                <foreach item="ids" collection="courseIds" open="(" separator="," close=")">
                    #{ids}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="orderField != null and orderField.trim() != ''">
                order by ${orderField} ${order}
            </when>
            <otherwise>
                order by cg.id desc
            </otherwise>
        </choose>
        <if test="offset != null and offset >= 0 and limit != null and limit gt 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="countCourseGame" parameterType="cn.smart.condition.GameInfoQueryCondition"
            resultType="int">
        SELECT  count(*) total
        FROM course_game cg
        LEFT JOIN game_info gi ON gi.id = cg.game_info_id
        <where>
            <if test="courseId != null">
                and cg.course_info_id = #{courseId,jdbcType=BIGINT}
            </if>
            <if test="name != null and name != '' ">
                and gi.name like CONCAT('%','${name}','%')
            </if>
            <if test="info != null and info != '' ">
                and gi.info like CONCAT('%','${info}','%')
            </if>

            <if test="status != null">
                and gi.status = #{status,jdbcType=INTEGER}
            </if>
            <if test="type != null">
                and gi.type = #{type,jdbcType=INTEGER}
            </if>
            <if test="serialNumber != null">
                and gi.serial_number = #{serialNumber,jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <select id="getCourseToClass" resultType="cn.smart.entity.CourseInfoDO"
            parameterType="cn.smart.condition.CourseInfoQueryCondition">
        SELECT
            ci.id,
            ci.course_name,
            ci.description,
            ci.stage_id,
            cs.stage_name,
            ci. STATUS,
            ci.type,
            ci.start_time,
            ci.end_time,
            ci.duration,
            ci.serial_number,
            ci.viewing_authority,
            ci.category,
            ci.video_url,
            ci.image_url,
            ci.tts_text,
            ci.word
        FROM
            course_info ci
            LEFT JOIN course_stage cs ON cs.id = ci.stage_id
            LEFT JOIN class_course cc ON cc.course_info_id = ci.id
        WHERE  NOT EXISTS (SELECT course_info_id FROM class_course WHERE ci.id = course_info_id AND class_id = #{classId, jdbcType=BIGINT})
        <choose>
            <when test="orderField != null and orderField.trim() != ''">
                order by ci.${orderField} ${order}
            </when>
            <otherwise>
                order by ci.id desc
            </otherwise>
        </choose>
        <if test="offset != null and offset >= 0 and limit != null and limit gt 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="countCourseToClass" resultType="int"
            parameterType="cn.smart.condition.CourseInfoQueryCondition">
        SELECT
          count(*) total
        FROM
        course_info ci
        LEFT JOIN course_stage cs ON cs.id = ci.stage_id
        LEFT JOIN class_course cc ON cc.course_info_id = ci.id
        WHERE  NOT EXISTS (SELECT course_info_id FROM class_course WHERE ci.id = course_info_id AND class_id = #{classId, jdbcType=BIGINT})
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="cn.smart.entity.CourseInfoDO">
        insert into course_info
        (
       	    id, course_name, description, stage_id, 
       	    teacher_id, status, type, start_time, 
       	    end_time, duration, serial_number, viewing_authority, 
       	    update_time, create_time, category, video_url, 
       	    image_url, tts_text, word, resource_url, weeks, stamp_image_url, card_image_url, group_id
        )
        values
        (
       	    #{id,jdbcType=BIGINT}, #{courseName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{stageId,jdbcType=BIGINT}, 
       	    #{teacherId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
       	    #{endTime,jdbcType=TIMESTAMP}, #{duration,jdbcType=BIGINT}, #{serialNumber,jdbcType=INTEGER}, #{viewingAuthority,jdbcType=INTEGER}, 
       	    #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{category,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, 
       	    #{imageUrl,jdbcType=VARCHAR}, #{ttsText,jdbcType=VARCHAR}, #{word,jdbcType=VARCHAR}, #{resourceUrl,jdbcType=VARCHAR}, #{weeks,jdbcType=INTEGER},
            #{stampImageUrl,jdbcType=VARCHAR}, #{cardImageUrl,jdbcType=VARCHAR}, #{groupId,jdbcType=INTEGER}
        )
    </insert>

    <!-- 接口查询-->
    <select id="queryPersonCourseList" resultType="cn.smart.bo.CourseInfoBO"
            parameterType="cn.smart.condition.CourseInfoQueryCondition">
        SELECT
            ci.id, ci.course_name, ci.description, ci.stage_id,
            ci.teacher_id, ci.status, ci.type, ci.start_time,
            ci.end_time, ci.duration, ci.serial_number, ci.viewing_authority,
            ci.update_time, ci.create_time, ci.category, ci.video_url,
            ci.image_url, ci.tts_text, ci.word, cc.status opened, resource_url,
            cs.stage_name, ci.group_id
        FROM course_info ci
            LEFT JOIN class_course cc ON cc.course_info_id = ci.id
            LEFT JOIN class_person cp ON cp.class_id = cc.class_id
            LEFT JOIN course_stage cs ON cs.id = ci.stage_id
        <where>
            <if test="personId != null">
                and cp.person_id = #{personId,jdbcType=BIGINT}
            </if>
            <if test="stageId != null">
                and stage_id = #{stageId,jdbcType=BIGINT}
            </if>
        </where>
        <choose>
            <when test="orderField != null and orderField.trim() != ''">
                order by ${orderField} ${order}
            </when>
            <otherwise>
                order by ci.id desc
            </otherwise>
        </choose>
        <if test="offset != null and offset >= 0 and limit != null and limit gt 0">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="countPersonCourseList" resultType="int"
            parameterType="cn.smart.condition.CourseInfoQueryCondition">
        SELECT
            count(*) total
        FROM course_info ci
            LEFT JOIN class_course cc ON cc.course_info_id = ci.id
            LEFT JOIN class_person cp ON cp.class_id = cc.class_id
            LEFT JOIN course_stage cs ON cs.id = ci.stage_id
        <where>
            <if test="personId != null">
                and cp.person_id = #{personId,jdbcType=BIGINT}
            </if>
            <if test="stageId != null">
                and stage_id = #{stageId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
    <!-- 接口查询-->

    <select id="queryById" parameterType="Long" resultType="cn.smart.entity.CourseInfoDO">
        select
                id, course_name, description, stage_id,
                teacher_id, status, type, start_time,
                end_time, duration, serial_number, viewing_authority,
                update_time, create_time, category, video_url,
                image_url, tts_text, word, resource_url, weeks, group_id
        from course_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryList" resultType="cn.smart.entity.CourseInfoDO"
        parameterType="cn.smart.condition.CourseInfoQueryCondition">
        select
       	    id, course_name, description, stage_id, (SELECT stage_name FROM course_stage WHERE stage_id = course_stage.id) stage_name,
       	    teacher_id, status, type, start_time,
       	    end_time, duration, serial_number, viewing_authority,
       	    update_time, create_time, category, video_url,
       	    image_url, tts_text, word, resource_url, weeks, group_id, stamp_image_url, card_image_url
        from course_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="inCourseIds != null">
                AND `id` in
                <foreach item="ids" collection="inCourseIds" open="(" separator="," close=")">
                    #{ids}
                </foreach>
            </if>
            <if test="courseName != null and courseName != '' ">
                and course_name like CONCAT('%','${courseName}','%')
            </if>
            <if test="description != null and description != '' ">
                and description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="stageId != null">
                and stage_id = #{stageId,jdbcType=BIGINT}
            </if>
            <if test="teacherId != null">
                and teacher_id = #{teacherId,jdbcType=BIGINT}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=INTEGER}
            </if>
            <if test="startTime != null">
                and start_time = #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                and end_time = #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="duration != null">
                and duration = #{duration,jdbcType=BIGINT}
            </if>
            <if test="serialNumber != null">
                and serial_number = #{serialNumber,jdbcType=INTEGER}
            </if>
            <if test="viewingAuthority != null">
                and viewing_authority = #{viewingAuthority,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="category != null and category != '' ">
                and category = #{category,jdbcType=VARCHAR}
            </if>
            <if test="videoUrl != null and videoUrl != '' ">
                and video_url = #{videoUrl,jdbcType=VARCHAR}
            </if>
            <if test="imageUrl != null and imageUrl != '' ">
                and image_url = #{imageUrl,jdbcType=VARCHAR}
            </if>
            <if test="ttsText != null and ttsText != '' ">
                and tts_text = #{ttsText,jdbcType=VARCHAR}
            </if>
            <if test="word != null and word != '' ">
                and word = #{word,jdbcType=VARCHAR}
            </if>
            <if test="weeks != null and word != '' ">
                and weeks = #{weeks,jdbcType=VARCHAR}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId,jdbcType=VARCHAR}
            </if>
            <if test="unEqGroupId != null">
                and group_id != #{unEqGroupId,jdbcType=VARCHAR}
            </if>
        </where>
        <choose>
            <when test="orderField != null and orderField.trim() != ''">
                order by stage_id, ${orderField} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and offset >= 0 and limit != null and limit gt 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int"
        parameterType="cn.smart.condition.CourseInfoQueryCondition">
        select count(1) as total from course_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="inCourseIds != null">
                AND `id` in
                <foreach item="ids" collection="inCourseIds" open="(" separator="," close=")">
                    #{ids}
                </foreach>
            </if>
            <if test="courseName != null and courseName != '' ">
                and course_name like CONCAT('%','${courseName}','%')
            </if>
            <if test="description != null and description != '' ">
                and description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="stageId != null">
                and stage_id = #{stageId,jdbcType=BIGINT}
            </if>
            <if test="teacherId != null">
                and teacher_id = #{teacherId,jdbcType=BIGINT}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=INTEGER}
            </if>
            <if test="startTime != null">
                and start_time = #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                and end_time = #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="duration != null">
                and duration = #{duration,jdbcType=BIGINT}
            </if>
            <if test="serialNumber != null">
                and serial_number = #{serialNumber,jdbcType=INTEGER}
            </if>
            <if test="viewingAuthority != null">
                and viewing_authority = #{viewingAuthority,jdbcType=INTEGER}
            </if>
            <if test="category != null and category != '' ">
                and category = #{category,jdbcType=VARCHAR}
            </if>
            <if test="videoUrl != null and videoUrl != '' ">
                and video_url = #{videoUrl,jdbcType=VARCHAR}
            </if>
            <if test="imageUrl != null and imageUrl != '' ">
                and image_url = #{imageUrl,jdbcType=VARCHAR}
            </if>
            <if test="ttsText != null and ttsText != '' ">
                and tts_text = #{ttsText,jdbcType=VARCHAR}
            </if>
            <if test="word != null and word != '' ">
                and word = #{word,jdbcType=VARCHAR}
            </if>
            <if test="weeks != null and word != '' ">
                and weeks = #{weeks,jdbcType=VARCHAR}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId,jdbcType=VARCHAR}
            </if>
            <if test="unEqGroupId != null">
                and group_id != #{unEqGroupId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="total" resultType="int">
        select count(1) as total from course_info
    </select>

    <update id="update" parameterType="cn.smart.entity.CourseInfoDO">
        update course_info
        <set>
            <if test="courseName != null ">
                course_name = #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="description != null  ">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="stageId != null">
                stage_id = #{stageId,jdbcType=BIGINT},
            </if>
            <if test="teacherId != null">
                teacher_id = #{teacherId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=BIGINT},
            </if>
            <if test="serialNumber != null">
                serial_number = #{serialNumber,jdbcType=INTEGER},
            </if>
            <if test="viewingAuthority != null">
                viewing_authority = #{viewingAuthority,jdbcType=INTEGER},
            </if>
            <if test="category != null ">
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="videoUrl != null ">
                video_url = #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null ">
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="ttsText != null ">
                tts_text = #{ttsText,jdbcType=VARCHAR},
            </if>
            <if test="word != null ">
                word = #{word,jdbcType=VARCHAR},
            </if>
            <if test="weeks != null ">
                weeks = #{weeks,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null ">
                group_id = #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="resourceUrl">
                resource_url = #{resourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="stampImageUrl">
                stamp_image_url = #{stampImageUrl,jdbcType=VARCHAR},
            </if>
            <if test="cardImageUrl">
                card_image_url = #{cardImageUrl,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateAll" parameterType="cn.smart.entity.CourseInfoDO">
        update course_info SET
        `course_name` = #{courseName,jdbcType=VARCHAR},
        `description` = #{description,jdbcType=VARCHAR},
        `stage_id` = #{stageId,jdbcType=BIGINT},
        `teacher_id` = #{teacherId,jdbcType=BIGINT},
        `status` = #{status,jdbcType=INTEGER},
        `type` = #{type,jdbcType=INTEGER},
        `start_time` = #{startTime,jdbcType=TIMESTAMP},
        `end_time` = #{endTime,jdbcType=TIMESTAMP},
        `duration` = #{duration,jdbcType=BIGINT},
        `serial_number` = #{serialNumber,jdbcType=INTEGER},
        `viewing_authority` = #{viewingAuthority,jdbcType=INTEGER},
        `category` = #{category,jdbcType=VARCHAR},
        `video_url` = #{videoUrl,jdbcType=VARCHAR},
        `image_url` = #{imageUrl,jdbcType=VARCHAR},
        `tts_text` = #{ttsText,jdbcType=VARCHAR},
        `word` = #{word,jdbcType=VARCHAR},
        `resource_url` = #{resourceUrl,jdbcType=VARCHAR},
        `weeks` = #{weeks,jdbcType=INTEGER},
        `group_id` = #{groupId,jdbcType=BIGINT},
        `stamp_image_url` = #{stampImageUrl,jdbcType=VARCHAR}
        `card_image_url` = #{cardImageUrl,jdbcType=VARCHAR}
        where `id` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        delete from course_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="courseName != null and courseName != '' ">
                and course_name = #{courseName,jdbcType=VARCHAR}
            </if>
            <if test="description != null and description != '' ">
                and description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="stageId != null">
                and stage_id = #{stageId,jdbcType=BIGINT}
            </if>
            <if test="teacherId != null">
                and teacher_id = #{teacherId,jdbcType=BIGINT}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=INTEGER}
            </if>
            <if test="duration != null">
                and duration = #{duration,jdbcType=BIGINT}
            </if>
            <if test="serialNumber != null">
                and serial_number = #{serialNumber,jdbcType=INTEGER}
            </if>
            <if test="viewingAuthority != null">
                and viewing_authority = #{viewingAuthority,jdbcType=INTEGER}
            </if>
            <if test="category != null and category != '' ">
                and category = #{category,jdbcType=VARCHAR}
            </if>
            <if test="videoUrl != null and videoUrl != '' ">
                and video_url = #{videoUrl,jdbcType=VARCHAR}
            </if>
            <if test="imageUrl != null and imageUrl != '' ">
                and image_url = #{imageUrl,jdbcType=VARCHAR}
            </if>
            <if test="ttsText != null and ttsText != '' ">
                and tts_text = #{ttsText,jdbcType=VARCHAR}
            </if>
            <if test="word != null and word != '' ">
                and word = #{word,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <delete id="deleteBatch">
        delete from course_info where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
        #{ids}
        </foreach>
    </delete>


    <delete id="deleteById" parameterType="Long">
        delete from course_info where id = #{id,jdbcType=BIGINT}
    </delete>
</mapper>