<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smart.dao.IWeekReportMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="cn.smart.entity.WeekReportDO">
        insert into week_report
        (
       	    `id`, `person_id`, `level`, `total_score`, 
       	    `total_days`, `total_words`, `days`, `words`, 
       	    `sentence`, `suggestion`, `suggestion_voice`, create_time, update_time, course_ids, class_id,
            `words_count`
        )
        values
        (
       	    #{id,jdbcType=BIGINT}, #{personId,jdbcType=BIGINT}, #{level,jdbcType=VARCHAR}, #{totalScore,jdbcType=DOUBLE}, 
       	    #{totalDays,jdbcType=INTEGER}, #{totalWords,jdbcType=INTEGER}, #{days,jdbcType=INTEGER}, #{words,jdbcType=VARCHAR}, 
       	    #{sentence,jdbcType=VARCHAR}, #{suggestion,jdbcType=VARCHAR}, #{suggestionVoice,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{courseIds,jdbcType=VARCHAR}, #{classId,jdbcType=BIGINT},
            #{wordsCount,jdbcType=INTEGER}
        )
    </insert>

    <select id="queryById" parameterType="Long" resultType="cn.smart.entity.WeekReportDO">
        select
                `id`, `person_id`, `level`, `total_score`, 
                `total_days`, `total_words`, `days`, `words`, 
                `sentence`, `suggestion`, `suggestion_voice`, course_ids, create_time, update_time, class_id,
                `words_count`
        from week_report
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryList" resultType="cn.smart.entity.WeekReportDO"
        parameterType="cn.smart.condition.WeekReportQueryCondition">
        select
       	    `id`, `person_id`, `level`, `total_score`, 
       	    `total_days`, `total_words`, `days`, `words`, 
       	    `sentence`, `suggestion`, `suggestion_voice`, create_time, update_time, course_ids, class_id,
            `words_count`
        from week_report
        <where>
            <if test="id != null">
                and `id` = #{id,jdbcType=BIGINT}
            </if>
            <if test="personId != null">
                and `person_id` = #{personId,jdbcType=BIGINT}
            </if>
            <if test="level != null and level != '' ">
                and `level` = #{level,jdbcType=VARCHAR}
            </if>
            <if test="totalScore != null">
                and `total_score` = #{totalScore,jdbcType=DOUBLE}
            </if>
            <if test="totalDays != null">
                and `total_days` = #{totalDays,jdbcType=INTEGER}
            </if>
            <if test="totalWords != null">
                and `total_words` = #{totalWords,jdbcType=INTEGER}
            </if>
            <if test="days != null">
                and `days` = #{days,jdbcType=INTEGER}
            </if>
            <if test="words != null and words != '' ">
                and `words` = #{words,jdbcType=VARCHAR}
            </if>
            <if test="sentence != null and sentence != '' ">
                and `sentence` = #{sentence,jdbcType=VARCHAR}
            </if>
            <if test="suggestion != null and suggestion != '' ">
                and `suggestion` = #{suggestion,jdbcType=VARCHAR}
            </if>
            <if test="suggestionVoice != null and suggestionVoice != '' ">
                and `suggestion_voice` = #{suggestionVoice,jdbcType=VARCHAR}
            </if>
            <if test="classId != null">
                and `class_id` = #{classId,jdbcType=BIGINT}
            </if>
            <if test="courseIds != null and courseIds != '' ">
                and `course_ids` = #{courseIds,jdbcType=VARCHAR}
            </if>
        </where>
        <choose>
            <when test="orderField != null and orderField.trim() != ''">
                order by ${orderField} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and offset >= 0 and limit != null and limit gt 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int"
        parameterType="cn.smart.condition.WeekReportQueryCondition">
        select count(1) as total from week_report
        <where>
            <if test="id != null">
                and `id` = #{id,jdbcType=BIGINT}
            </if>
            <if test="personId != null">
                and `person_id` = #{personId,jdbcType=BIGINT}
            </if>
            <if test="level != null and level != '' ">
                and `level` = #{level,jdbcType=VARCHAR}
            </if>
            <if test="totalScore != null">
                and `total_score` = #{totalScore,jdbcType=DOUBLE}
            </if>
            <if test="totalDays != null">
                and `total_days` = #{totalDays,jdbcType=INTEGER}
            </if>
            <if test="totalWords != null">
                and `total_words` = #{totalWords,jdbcType=INTEGER}
            </if>
            <if test="days != null">
                and `days` = #{days,jdbcType=INTEGER}
            </if>
            <if test="words != null and words != '' ">
                and `words` = #{words,jdbcType=VARCHAR}
            </if>
            <if test="sentence != null and sentence != '' ">
                and `sentence` = #{sentence,jdbcType=VARCHAR}
            </if>
            <if test="suggestion != null and suggestion != '' ">
                and `suggestion` = #{suggestion,jdbcType=VARCHAR}
            </if>
            <if test="suggestionVoice != null and suggestionVoice != '' ">
                and `suggestion_voice` = #{suggestionVoice,jdbcType=VARCHAR}
            </if>
            <if test="classId != null">
                and `class_id` = #{classId,jdbcType=BIGINT}
            </if>
            <if test="courseIds != null and courseIds != '' ">
                and `course_ids` = #{courseIds,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="total" resultType="int">
        select count(1) as total from week_report
    </select>

    <update id="update" parameterType="cn.smart.entity.WeekReportDO">
        update week_report
        <set>
            <if test="personId != null">
                `person_id` = #{personId,jdbcType=BIGINT},
            </if>
            <if test="level != null">
                `level` = #{level,jdbcType=VARCHAR},
            </if>
            <if test="totalScore != null">
                `total_score` = #{totalScore,jdbcType=DOUBLE},
            </if>
            <if test="totalDays != null">
                `total_days` = #{totalDays,jdbcType=INTEGER},
            </if>
            <if test="totalWords != null">
                `total_words` = #{totalWords,jdbcType=INTEGER},
            </if>
            <if test="days != null">
                `days` = #{days,jdbcType=INTEGER},
            </if>
            <if test="words != null">
                `words` = #{words,jdbcType=VARCHAR},
            </if>
            <if test="wordsCount != null">
                `words_count` = #{wordsCount,jdbcType=INTEGER},
            </if>
            <if test="sentence != null">
                `sentence` = #{sentence,jdbcType=VARCHAR},
            </if>
            <if test="suggestion != null">
                `suggestion` = #{suggestion,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="courseIds != null">
                `course_ids` = #{courseIds,jdbcType=VARCHAR},
            </if>
            <if test="classId != null">
                `class_id` = #{classId,jdbcType=BIGINT},
            </if>
            <if test="suggestionVoice != null">
                `suggestion_voice` = #{suggestionVoice,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        delete from week_report
        <where>
            <if test="id != null">
                and `id` = #{id,jdbcType=BIGINT}
            </if>
            <if test="personId != null">
                and `person_id` = #{personId,jdbcType=BIGINT}
            </if>
            <if test="level != null and level != '' ">
                and `level` = #{level,jdbcType=VARCHAR}
            </if>
            <if test="totalScore != null">
                and `total_score` = #{totalScore,jdbcType=DOUBLE}
            </if>
            <if test="totalDays != null">
                and `total_days` = #{totalDays,jdbcType=INTEGER}
            </if>
            <if test="totalWords != null">
                and `total_words` = #{totalWords,jdbcType=INTEGER}
            </if>
            <if test="days != null">
                and `days` = #{days,jdbcType=INTEGER}
            </if>
            <if test="words != null and words != '' ">
                and `words` = #{words,jdbcType=VARCHAR}
            </if>
            <if test="sentence != null and sentence != '' ">
                and `sentence` = #{sentence,jdbcType=VARCHAR}
            </if>
            <if test="suggestion != null and suggestion != '' ">
                and `suggestion` = #{suggestion,jdbcType=VARCHAR}
            </if>
            <if test="suggestionVoice != null and suggestionVoice != '' ">
                and `suggestion_voice` = #{suggestionVoice,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <delete id="deleteBatch">
        delete from week_report where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
        #{ids}
        </foreach>
    </delete>


    <delete id="deleteById" parameterType="Long">
        delete from week_report where id = #{id,jdbcType=BIGINT}
    </delete>
</mapper>